<ul class="sublist_1">
    <li class="sublist_1_li">
        <h3 id="progress_h1_h1" class="hdr_l1_l1">Contact Info</h3>
        <div class="div_sublist_1" id="sublist1_1">
            <form id="form_1_1" class="form">
                <ul class="sublist_1_1">
                    <li>
                        Name of district resource conservation (RCM) or facilities manager: <br/>
                        <input type="text" name="RCM Name" id="manager-name" placeholder="Name" size="35" value=""/>

                    </li>
                    <li>
                        Contact information for district RCM or facilities manager:<br/>
                        <input type="text" name="manager-contact" placeholder="Manager Contact" size="35" />
                        <input type="text" name="RCM Email" placeholder="E-mail" value=""/> <br/>
                        <input type="text" name="RCM Phone" placeholder="Phone Number" value=""/>
                    </li>
                    <li>
                        Name of person completing this guide:<br/>
                        <input type="text" name="person-guide" placeholder="Name of Person filling guide" size="35" />
                    </li>
                    <li>
                        Title of person completing this guide:<br/>
                        <input type="text" name="person-title" placeholder="Title of Person filling guide" size="35" />
                    </li>
                    <li>
                        Comment:<br/>
                        <textarea></textarea>
                    </li>
                </ul>
            </form>
            <div class="create-pdf-button" id="create_pdf_sublist_1_1">Create PDF</div>
        </div>
    </li>
    <li class="sublist_1_li">
        <h3 id="progress_h1_h2" class="hdr_l1_l1">A: Form your team</h3>
        <div class="div_sublist_1" id="sublist1_2">
            <ul class="sublist_1_1">
                <li>Form a Green Schools team comprised of two or more staff members, any interested students or student group(s), and any parent volunteers. Include on the team at least two staff members such as teachers, principal, other administrators, and custodial staff.</li>
                <li>List names and titles of staff members: </li>
                <li>Name of person completing this guide: </li>
                <li>Announce your school’s participation in the King County Green Schools Program, and invite students and staff to participate in a Green Team. Briefly note when and how you completed this action item: </li>
            </ul>
        </div>
    </li>
    <li class="sublist_1_li">
        <h3 id="progress_h1_h3" class="hdr_l1_l1">B: Assess and monitor</h3>
        <div class="div_sublist_1" id="sublist1_3">
            <ul class="sublist_1_1">
                <li>Form a Green Schools team comprised of two or more staff members, any interested students or student group(s), and any parent volunteers. Include on the team at least two staff members such as teachers, principal, other administrators, and custodial staff.</li>
                <li>List names and titles of staff members: </li>
                <li>Name of person completing this guide: </li>
                <li>Announce your school’s participation in the King County Green Schools Program, and invite students and staff to participate in a Green Team. Briefly note when and how you completed this action item: </li>
            </ul>
        </div>
    </li>
    <li class="sublist_1_li">
        <h3 id="progress_h1_h4" class="hdr_l1_l1">C: Education and outreach</h3>
        <div class="div_sublist_1" id="sublist1_4">
            <ul class="sublist_1_1">
                <li>Form a Green Schools team comprised of two or more staff members, any interested students or student group(s), and any parent volunteers. Include on the team at least two staff members such as teachers, principal, other administrators, and custodial staff.</li>
                <li>List names and titles of staff members: </li>
                <li>Name of person completing this guide: </li>
                <li>Announce your school’s participation in the King County Green Schools Program, and invite students and staff to participate in a Green Team. Briefly note when and how you completed this action item: </li>
            </ul>
        </div>
    </li>
    <li class="sublist_1_li">
        <h3 id="progress_h1_h5" class="hdr_l1_l1">D: Waste reduction</h3>
        <div class="div_sublist_1" id="sublist1_5">
            <ul class="sublist_1_1">
                <li>Form a Green Schools team comprised of two or more staff members, any interested students or student group(s), and any parent volunteers. Include on the team at least two staff members such as teachers, principal, other administrators, and custodial staff.</li>
                <li>List names and titles of staff members: </li>
                <li>Name of person completing this guide: </li>
                <li>Announce your school’s participation in the King County Green Schools Program, and invite students and staff to participate in a Green Team. Briefly note when and how you completed this action item: </li>
            </ul>
        </div>
    </li>
    <li class="sublist_1_li">
        <h3 id="progress_h1_h6" class="hdr_l1_l1">E: Recycling</h3>
        <div class="div_sublist_1" id="sublist1_6">
            <ul class="sublist_1_1">
                <li>Form a Green Schools team comprised of two or more staff members, any interested students or student group(s), and any parent volunteers. Include on the team at least two staff members such as teachers, principal, other administrators, and custodial staff.</li>
                <li>List names and titles of staff members: </li>
                <li>Name of person completing this guide: </li>
                <li>Announce your school’s participation in the King County Green Schools Program, and invite students and staff to participate in a Green Team. Briefly note when and how you completed this action item: </li>
            </ul>
        </div>
    </li>
    <li class="sublist_1_li">
        <h3 id="progress_h1_h7" class="hdr_l1_l1">F: Hazardous materials management</h3>
        <div class="div_sublist_1" id="sublist1_7">
            <ul class="sublist_1_1">
                <li>Form a Green Schools team comprised of two or more staff members, any interested students or student group(s), and any parent volunteers. Include on the team at least two staff members such as teachers, principal, other administrators, and custodial staff.</li>
                <li>List names and titles of staff members: </li>
                <li>Name of person completing this guide: </li>
                <li>Announce your school’s participation in the King County Green Schools Program, and invite students and staff to participate in a Green Team. Briefly note when and how you completed this action item: </li>
            </ul>
        </div>
    </li>
</ul>
