<li>
    <input type="checkbox" name="L1_A_1" value="Form_Team">Form a Green Schools team comprised of two or more staff members, any interested students or student group(s), and any parent volunteers. Include on the team at least two staff members such as teachers, principal, other administrators, and custodial staff.<br/>
</li>
<li>List names and titles of staff members:<br/>
    <input type="text" name="Staff1" placeholder="Staff Name 1" value=""/><br/><input type="text" name="StaffTitle1" placeholder="Staff Title 1" value=""/><br/><input type="text" name="Staff2" placeholder="Staff Name 2" value=""/><br/><input type="text" name="StaffTitle2" placeholder="Staff Title 2" value=""/><br/>
</li>
<li>
    <input type="checkbox" name="L1_A_2" value="Announce"/>Announce your school’s participation in the King County Green Schools Program, and invite students and staff to participate in a Green Team. Briefly note when and how you completed this action item: <br/>
    <textarea></textarea>
</li>