<li>
    Name of district resource conservation (RCM) or facilities manager: <br/>
    <input type="text" name="RCM Name" placeholder="Name" value=""/>
</li>
<li>
    Contact information for district RCM or facilities manager: <br/>
    <input type="text" name="RCM Email" placeholder="E-mail" value=""/> <br/>
    <input type="text" name="RCM Phone" placeholder="Phone Number" value=""/>
</li>
<li>
    Name of person completing this guide:
    <input type="text" name="Person" placeholder="Name" value=""/>
</li>
<li>
    Title of person completing this guide:<br/>
        <input type="radio" name="Title" value="Teacher"/>Teacher<br/>
        <input type="radio" name="Title" value="Principal"/>Principal<br/>
        <input type="radio" name="Title" value="Custodian"/>Custodian<br/>
        <input type="radio" name="Title" value="Student"/>Student<br/>
        <input type="radio" name="Title" value="Parent"/>Parent<br/>
        <input type="radio" name="Title" value="Other"/>Other: <input type="text" name="Title" placeholder="Title" value=""/><br/>
</li>