<li>
    <input id="lhwmp_visit_check" type="checkbox" name="L1_F_1" value="LHWMP_Visit"/>
    Schedule a site visit with a Local Hazardous Waste Management Program in King County (LHWMP) specialist who will help your school to properly assess, dispose, store, label, and reduce hazardous materials. (The specialist will visit science and photography labs, and art, shop, and maintenance areas.)</br>
    If a LHWMP site visit has been conducted in the last two years, it does not need to be repeated. Date of most recent site visit: 
    <input id="mostrecent_lhwmp_visit_date" type="text" name="L1_F_1_1" placeholder="MM/DD/YYYY" value="" size="10"/><br/>
    <input id="lhwmp_followup_check" type="checkbox" name="L1_F_2" value="LHWMP_FollowUp"/>
    Follow and complete the recommendations in the specialist’s report. Assistance will be provided by the LHWMP specialist.<br/>
    Notes:<br/>
    <textarea id="lhwmp_followup_note"></textarea>
</li>