<li>
    Name of district resource conservation (RCM) or facilities manager:
    <input type="text" id="rcm_name" name="RCM Name" placeholder="Name" value=""/><br/>
</li>
<li>
    <ul>
        <li>
            Contact information for district RCM or facilities manager: <br/><br/>
            Email of district RCM or facilities manager :
            <input type="text" id="rcm_email" name="RCM Email" placeholder="E-mail" value=""/> <br/>
        </li>
        <li>
            Phone number of district RCM or facilities manager :
            <input type="text" id="rcm_phone" name="RCM Phone" placeholder="Phone Number" value=""/><br/>
        </li>
    </ul>
</li>
<li>
    Name of person completing this guide:
    <input type="text" id="completing_person" name="Person" placeholder="Name" value=""/><br/>
</li>
<li>
    Title of person completing this guide:<br/><br/>
        <input type="radio" name="completing_person_title" value="Teacher"/>Teacher<br/>
        <input type="radio" name="completing_person_title" value="Principal"/>Principal<br/>
        <input type="radio" name="completing_person_title" value="Custodian"/>Custodian<br/>
        <input type="radio" name="completing_person_title" value="Student"/>Student<br/>
        <input type="radio" name="completing_person_title" value="Parent"/>Parent<br/>
        <input type="radio" name="completing_person_title" value="Other"/>Other: 
        <input type="text" name="completing_person_title" placeholder="Title" value=""/><br/>
</li>