<li>
    <ul>
        <li>
            Complete the following 3 required actions:<br/>
            <br/>
            <input id="introduce_student_staff_check" type="checkbox" name="L1_C_1" value="Introduce"/>
            Introduce all students and staff, including custodians, to the school’s WRR policies and procedures at the beginning of each school year (or have a plan in place to do this) and whenever you make changes or improvements. Briefly describe how and when you did this:
            <textarea id="introduce_student_staff_note" name="introduce_student_staff_check"></textarea>
        </li>
        <li>
            <input id="regular_announcement_check" type="checkbox" name="L1_C_2" value="Announce_Regularly"/>
            Regularly (at least once per month) promote WRR practices, including why they are important and how everyone in the school community can participate. Briefly describe how and when you did this:
            <textarea id="regular_announcement_note" name="regular_announcement_check"></textarea>
        </li>
        <li>
            <input id="wrr_success_check" type="checkbox" name="L1_C_3" value="Share"/>
            Share your waste reduction and recycling successes with the school community. Briefly describe how and when you did this:
            <textarea id="wrr_success_note" name="wrr_success_check"></textarea>
        </li>
    </ul>
</li>
<li>
    <ul>
        <li>
            <div><b>Complete at least 4 of the following recommended actions:</b><br/></div>
            <br/>
            <input id="student_green_team_check" type="checkbox" name="L1_C_4" value="Start_Team"/>
            Start a student Green Team or recruit new members. Briefly note the number of students in the team and the type of group (examples: fifth grade class, after school club, ASB students, Leadership class):
            <textarea id="student_green_team_note" name="student_green_team_check"></textarea>
        </li>
        <li>
            <input id="student_green_team_registration_check" type="checkbox" name="L1_C_5" value="Register"/>
            Register your student Green Team as a King County Green Team to receive support and recognition for student teams. <br/>
        </li>
        <li>
            <input id="waste_audit_check" type="checkbox" name="L1_C_6" value="Waste_Audit"/>
            Do a waste audit to see what materials are routinely thrown out (instead of recycled or reused) in your school. Share audit results and recommendations with your school. Briefly describe how and when you did this:
            <textarea id="waste_audit_note" name="waste_audit_check"></textarea>
        </li>
        <li>
            <input id="classroom_contest_check" type="checkbox" name="L1_C_7" value="Contest"/>
            Conduct a contest to see which classroom, grade level, or lunch period generates the least amount of garbage per day or week. Briefly note how and when you did this:
            <textarea id="classroom_contest_note" name="classroom_contest_check"></textarea>
        </li>
        <li>
            <input id="quiz_show_check" type="checkbox" name="L1_C_8" value="Quiz_Show"/>
            Conduct a Quiz Show about recycling and waste reduction during lunch, at an assembly, or in classrooms. Briefly note how and when you did this:
            <textarea id="quiz_show_note" name="quiz_show_check"></textarea>
        </li>
        <li>
            <input id="wrr_poster_check" type="checkbox" name="L1_C_9" value="3D_Posters"/>
            Create posters about recycling or waste reduction. Many schools create a display of recyclable materials or 3-dimensional signs that show what can and can’t be recycled. Place the displays or signs in common areas such as the cafeteria, hallways, library, and main office. Briefly note how and when you did this:
            <textarea id="wrr_poster_note" name="wrr_poster_check"></textarea>
        </li>
        <li>
            <input id="skit_video_check" type="checkbox" name="L1_C_10" value="Skit_Video"/>
            Create a skit or short video about recycling or waste reduction practices (such as using both sides of each piece of paper or using durable bottles). Share the skit or video at an assembly, in classrooms, in the cafeteria, or at a staff meeting. Briefly note how and when you did this:
            <textarea id="skit_video_note" name="skit_video_check"></textarea>
        </li>
        <li>
            <input id="short_training_check" type="checkbox" name="L1_C_11" value="Short_Training"/>
            Present a short training about waste reduction and recycling to teachers, all school staff, or PTA members. Students can lead the presentation or be invited to help. Briefly describe how and when you did this:
            <textarea id="short_training_note" name="short_training_check"></textarea>
        </li>
        <li>
            <input id="cafeteria_volunteers_check" type="checkbox" name="L1_C_12" value="Cafeteria_Volunteers"/>
            Train students or parent volunteers to monitor cafeteria recycling stations, and then schedule monitors to remind students what items can be recycled and to encourage waste reduction practices. Briefly describe how and when you did this:
            <textarea id="cafeteria_volunteers_note" name="cafeteria_volunteers_check"></textarea>
        </li>
        <li>
            <input id="climate_lessons_check" type="checkbox" name="L1_C_13" value="Climate_Lessons"/>
            Include climate change messages in education and outreach about your school’s waste reduction and recycling practices. Educate students and staff about how reducing waste and recycling reduces greenhouse gas emissions. Briefly describe how and when you did this:
            <textarea id="climate_lessons_note" name="climate_lessons_check"></textarea>
        </li>
        <li>
            <input id="inclass_lessons_check" type="checkbox" name="L1_C_14" value="InClass_Lessons"/>
            Include waste reduction and recycling lessons in one or more of the following subject areas: Science, math, art, reading, writing, history, social studies. Briefly describe how and when your school did this:
            <textarea id="inclass_lessons_note" name="inclass_lessons_check"></textarea>
        </li>
        <li>
            <input id="guest_speakers_check" type="checkbox" name="L1_C_15" value="Guest_Speakers"/>
            Schedule guest speakers, participate in a field trip, or request classroom resources about waste reduction and recycling.  Briefly describe how and when you did this:
            <textarea id="guest_speakers_note" name="guest_speakers_check"></textarea>
        </li>
        <li>
            <input id="other_wrr_check" type="checkbox" name="L1_C_16" value="Other"/>
            What other waste reduction and recycling education and outreach is your school or Green Team doing? Other:
            <textarea id="other_wrr_note" name="other_wrr_check"></textarea>
        </li>
    </ul>
</li>