<li id="" class="sublistD_1">
    <ul>
        <li>
            Reduce Paper Use (Complete at least 1 of the following actions) <br/><br/>
            <input id="limit_handouts_check"type="checkbox" name="L1_D_1_1" value="Limit_Handouts"/>
            Limit use of paper hand-outs – Use the blackboard/whiteboard or document camera, or refer students to books and web sites.
            <textarea id="limit_handouts_note" name="limit_handouts_check"></textarea>
        </li>
        <li>
            <input id="teacher_webpages_check" type="checkbox" name="L1_D_1_2" value="Teacher_WebPages"/>
            Create teacher web pages on the school website where assignments can be posted rather than printed.
            <textarea id="teacher_webpages_note" name="teacher_webpages_check"></textarea>
        </li>
        <li>
            <input id="write_both_sides_check" type="checkbox" name="L1_D_1_3" value="Both_Sides"/>
            Write on both sides -- Use one-sided prints for drafts/scratch pads. Place labeled paper reuse trays in each classroom and office. Regularly promote this practice.
            <textarea id="write_both_sides_note" name="write_both_sides_check"></textarea>
        </li>
        <li>
            <input id="copy_double_side_check" type="checkbox" name="L1_D_1_4" value="Double_Sided"/>
            Make double-sided copies – Adopt a double-sided photocopying and printing policy, and provide instructions to photocopy machine users. Use signage and reminders to regularly promote double-sided copying and printing.
            <textarea id="copy_double_side_note" name="copy_double_side_check"></textarea>
        </li>
        <li>
            <input id="remove_unwanted_subscriptions_check" type="checkbox" name="L1_D_1_5" value="Unwanted_Subscriptions"/>
            Eliminate unwanted subscriptions and mail – Request removal from vendor mail lists.
            <textarea id="remove_unwanted_subscriptions_note" name="remove_unwanted_subscriptions_check"></textarea>
        </li>
        <li>
            <input id="use_email_check" type="checkbox" name="L1_D_1_6" value="Email"/>
            Use e-mail instead of paper copies for one or more regularly issued staff or parent newsletter, bulletin, or memo.
            <textarea id="use_email_note" name="use_email_check"></textarea>
        </li>
        <li>
            <input id="print_minimal_check" type="checkbox" name="L1_D_1_7" value="Print_Enough"/>
            Print only what you need. Reduce print runs based on number of leftover copies. ”Right size” the paper used (e.g., use half sheets). Change the margin default to reduce the amount of paper needed for each print job.
            <textarea id="print_minimal_note" name="print_minimal_check"></textarea>
        </li>
        <li>
            <input id="promote_noprint_check" type="checkbox" name="L1_D_1_8" value="No_Print"/>
            Promote “paper free” or “no print” or “print only what you need” days two or three times during the school year to encourage the habit of only printing what you need.
            <textarea id="promote_noprint_note" name="promote_noprint_check"></textarea>
        </li>
        <li>
            <input id="paper_budget_check" type="checkbox" name="L1_D_1_9" value="Paper_Budget"/>
            Create a paper budget for each school staff position, recognizing that different staff positions require different levels of paper use, and assign each staff member a copy machine code. Track paper use and share with staff members their monthly paper use.
            <textarea id="paper_budget_note" name="paper_budget_check"></textarea>
        </li>
        <li>
            <input id="staff_contest_check" type="checkbox" name="L1_D_1_10" value="Staff_Contest"/>
            Hold a staff contest for reducing paper use. Reward staff members that are able to reduce their paper use the most and ask them to share their strategies at a staff meeting.
            <textarea id="staff_contest_note" name="staff_contest_check"></textarea>
        </li>
        <li>
            <input id="reuse_station_check" type="checkbox" name="L1_D_1_11" value="Reuse_Station"/>
            Establish, promote and monitor a reuse station (e.g., a shelf or area) for used office supplies (e.g., file folders and envelopes that can be reused). Office staff can monitor or oversee this reuse area.
            <textarea id="reuse_station_note" name="reuse_station_check"></textarea>
        </li>
        <li>
            <input id="locker_cleanout_check" type="checkbox" name="L1_D_1_12" value="Locker_CleanOut"/>
            Conduct a “Zero Waste Locker/Cubby Clean Out” at the end of the school year or prior to all school breaks.
            <textarea id="locker_cleanout_note" name="locker_cleanout_check"></textarea>
        </li>
        <li>
            <input id="other_wrr_practice_check" type="checkbox" name="L1_D_1_13" value="Other_D_1"/>
            What other paper waste reduction practice did your school initiate? Other:
            <textarea id="other_wrr_practice_note" name="other_wrr_practice_check"></textarea>
        </li>
    </ul>
</li>
<li>
    <ul>
        <li>
            Reduce Organic/Compostable Waste (Complete at least 1 of the following actions) :<br/><br/>
            <input id="wastefree_lunches_check" type="checkbox" name="L1_D_2_1" value="WasteFree_Lunches"/>
            Promote waste free lunches. Promotional messages would include the following: “Take or bring only what you will eat” and “If you brought a lunch from home, take leftovers home.” Also encourage students and their families to pack lunches from home in reusable containers and lunch sacks. Briefly note how and when you did this:
            <textarea id="wastefree_lunches_note" name="wastefree_lunches_check"></textarea>
        </li>
        <li>
            <input id="share_table_check" type="checkbox" name="L1_D_2_2" value="Share_Table"/>
            Set up a share table where students can place or take unwanted school cafeteria foods that are unopened and untouched. (e.g., unopened milk cartons).
            <textarea id="share_table_note" name="share_table_check"></textarea>
        </li>
        <li>
            <input id="donate_food_check" type="checkbox" name="L1_D_2_3" value="Donate_Food"/>
            Donate leftover edible food to a food bank (at the end of a school year and other times as needed). Briefly note how and when you did this:
            <textarea id="donate_food_note" name="donate_food_check"></textarea>
        </li>
        <li>
            <input id="grass_clippings_check" type="checkbox" name="L1_D_2_4" value="Grass_Clippings"/>
            Leave grass clippings on the lawn/athletic fields (grass-cycling) or compost leaves and other yard waste on site. Briefly note how and when your school did this:
            <textarea id="grass_clipping_note" name="grass_clippings_check"></textarea>
        </li>
        <li>
            <input id="other_organic_wrr_check" type="checkbox" name="L1_D_2_5" value="Other_D_2"/>
            What other significant waste reduction practice did the school initiate to reduce organic/compostable waste? Other:
            <textarea id="other_organic_wrr_note" name="other_organic_wrr_check"></textarea>
        </li>
    </ul>
</li>
<li>
    <ul>
        <li>
            Reuse durable products, use bulk dispensers (Complete at least 1 of the following actions) :<br/><br/>
            <input id="durable_trays_check" type="checkbox" name="L1_D_3_1" value="Durable_Trays"/>
            Replace disposable or compostable trays with durable trays.
            <textarea id="durable_trays_note" name="durable_trays_check"></textarea>
        </li>
        <li>
            <input id="eliminate_trays_check" type="checkbox" name="L1_D_3_2" value="Eliminate_Trays"/>
            Eliminate use of cafeteria trays.
            <textarea id="eliminate_trays_note" name="eliminate_trays_check"></textarea>
        </li>
        <li>
            <input id="durable_utensils_check" type="checkbox" name="L1_D_3_3" value="Durable_Utensils"/>
            Replace disposable or compostable utensils with durable utensils.
            <textarea id="durable_utensils_note" name="durable_utensils_check"></textarea>
        </li>
        <li>
            <input id="unwrapped_utensils_check" type="checkbox" name="L1_D_3_4" value="Unwrapped_Utensils"/>
            Replace plastic-wrapped utensils, straws, and napkins with unwrapped utensils, straws, and napkins.
            <textarea id="unwrapped_utensils_note" name="unwrapped_utensils_check"></textarea>
        </li>
        <li>
            <input id="durable_products_check" type="checkbox" name="L1_D_3_5" value="Durable_Products"/>
            Replace disposable or compostable plates, bowls, glasses, and cups with durable products in one or both of the following areas.
            <textarea id="durable_products_note" name="durable_products_check"></textarea>
        </li>
        <li>
            <div>
                <ul>
                    <li>
                        Check applicable area(s): <br/><br/>
                        <input id="durable_products_student_cafeteria_check" type="checkbox" name="L1_D_3_5_1" value="Student_Cafeteria"/>In the student cafeteria
                    </li>
                    <li>
                        <input id="durable_products_staff_room_check" type="checkbox" name="L1_D_3_5_2" value="Staff_Room"/>In the staff break-room
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <input id="bulk_dispensers_check" type="checkbox" name="L1_D_3_6" value="Bulk_Dispensers"/>
            Use bulk dispensers in the student cafeteria.
            <textarea id="bulk_dispensers_note" name="bulk_dispensers_check"></textarea>
        </li>
        <li>
            <input id="restrooms_check" type="checkbox" name="L1_D_3_7" value="Restrooms"/>
            In restrooms, do one or both of the following :
            <textarea id="restrooms_note" name="restrooms_check"></textarea>
        </li>
        <li>
            <div>
                <ul>
                    <li>
                        Check applicable area(s): <br/><br/>
                        <input id="restroom_soap_dispenser_check" type="checkbox" name="L1_D_3_7_1" value="Soap_Dispenser"/>Switch to foam soap dispensers
                    </li>
                    <li>
                        <input id="restroom_air_dryers_check" type="checkbox" name="L1_D_3_7_2" value="Air_Dryers"/>Install air dryers instead of using paper towels.
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <input id="durable_supplies_check"type="checkbox" name="L1_D_3_8" value="Durable_Supplies"/>
            Save and reuse durable supplies - Maintain a storage closet or bin for reusable party/holiday decorations, classroom displays, hall passes, and visitor badges, etc. Note what supplies are reused by your school:
            <textarea id="durable_supplies_note" name="durable_supplies_check"></textarea>
        </li>
        <li>
            <input id="other_products_wrr_check" type="checkbox" name="L1_D_3_9" value="Other_D_3"/>
            What other significant practice did your school initiate to reuse durable products or eliminate unnecessary products? Other:
            <textarea id="other_products_wrr_note" name="other_products_wrr_check"></textarea>
        </li>
    </ul>
</li>