<li>
    <input type="checkbox" id="team_formation_check" name="L1_A_1" value="Form_Team">Form a Green Schools team comprised of two or more staff members, any interested students or student group(s), and any parent volunteers. Include on the team at least two staff members such as teachers, principal, other administrators, and custodial staff.<br/>
<br/>
List names and titles of staff members:<br/>
</li>
<li>
    <ul>
        <li>
            Name of staff member 1 :
            <input type="text" id="staff_1" name="Staff1" placeholder="Staff Name 1" value=""/><br/>
        </li>
        <li>
            Title of staff member 1 :
            <input type="text" id="staff_1_title" name="StaffTitle1" placeholder="Staff Title 1" value=""/><br/>
        </li>
        <li>
            Name of staff member 2 :
            <input type="text" id="staff_2" name="Staff2" placeholder="Staff Name 2" value=""/><br/>
        </li>
        <li>
            Title of staff member 2 :
            <input type="text" id="staff_2_title" name="StaffTitle2" placeholder="Staff Title 2" value=""/><br/>        
        </li>
    </ul>
</li>
<li>
    <input type="checkbox" id="participation_announcement_check" name="L1_A_2" value="Announce"/>Announce your school’s participation in the King County Green Schools Program, and invite students and staff to participate in a Green Team. Briefly note when and how you completed this action item:
    <textarea id="participation_announcement_note" name="participation_announcement_check"></textarea>
</li>