<li class="sublistD_1">Reduce Paper Use (Complete at least 1 of the following actions) <br/>
    <input type="checkbox" name="L1_D_1_1" value="Limit_Handouts"/>Limit use of paper hand-outs – Use the blackboard/whiteboard or document camera, or refer students to books and web sites. <br/>
        <textarea></textarea><br/>
    <input type="checkbox" name="L1_D_1_2" value="Teacher_WebPages"/>Create teacher web pages on the school website where assignments can be posted rather than printed. <br/>
        <textarea></textarea><br/>
    <input type="checkbox" name="L1_D_1_3" value="Both_Sides"/>Write on both sides -- Use one-sided prints for drafts/scratch pads. Place labeled paper reuse trays in each classroom and office. Regularly promote this practice. <br/>
        <textarea></textarea><br/>
    <input type="checkbox" name="L1_D_1_4" value="Double_Sided"/>Make double-sided copies – Adopt a double-sided photocopying and printing policy, and provide instructions to photocopy machine users. Use signage and reminders to regularly promote double-sided copying and printing. <br/>
        <textarea></textarea><br/>
    <input type="checkbox" name="L1_D_1_5" value="Unwanted_Subscriptions"/>Eliminate unwanted subscriptions and mail – Request removal from vendor mail lists. <br/>
        <textarea></textarea><br/>
    <input type="checkbox" name="L1_D_1_6" value="Email"/>Use e-mail instead of paper copies for one or more regularly issued staff or parent newsletter, bulletin, or memo. <br/>
        <textarea></textarea><br/>
    <input type="checkbox" name="L1_D_1_7" value="Print_Enough"/>Print only what you need. Reduce print runs based on number of leftover copies. ”Right size” the paper used (e.g., use half sheets). Change the margin default to reduce the amount of paper needed for each print job. <br/>
        <textarea></textarea><br/>
    <input type="checkbox" name="L1_D_1_8" value="No_Print"/>Promote “paper free” or “no print” or “print only what you need” days two or three times during the school year to encourage the habit of only printing what you need. <br/>
        <textarea></textarea><br/>
    <input type="checkbox" name="L1_D_1_9" value="Paper_Budget"/>Create a paper budget for each school staff position, recognizing that different staff positions require different levels of paper use, and assign each staff member a copy machine code. Track paper use and share with staff members their monthly paper use. <br/>
        <textarea></textarea><br/>
    <input type="checkbox" name="L1_D_1_10" value="Staff_Contest"/>Hold a staff contest for reducing paper use. Reward staff members that are able to reduce their paper use the most and ask them to share their strategies at a staff meeting. <br/>
        <textarea></textarea><br/>
    <input type="checkbox" name="L1_D_1_11" value="Reuse_Station"/>Establish, promote and monitor a reuse station (e.g., a shelf or area) for used office supplies (e.g., file folders and envelopes that can be reused). Office staff can monitor or oversee this reuse area. <br/>
        <textarea></textarea><br/>
    <input type="checkbox" name="L1_D_1_12" value="Locker_CleanOut"/>Conduct a “Zero Waste Locker/Cubby Clean Out” at the end of the school year or prior to all school breaks. <br/>
        <textarea></textarea><br/>
    <input type="checkbox" name="L1_D_1_13" value="Other_D_1"/>What other paper waste reduction practice did your school initiate? Other: <br/>
        <textarea></textarea><br/>
</li>
<li>Reduce Organic/Compostable Waste (Complete at least 1 of the following actions)<br/>
    <input type="checkbox" name="L1_D_2_1" value="WasteFree_Lunches"/>Promote waste free lunches. Promotional messages would include the following: “Take or bring only what you will eat” and “If you brought a lunch from home, take leftovers home.” Also encourage students and their families to pack lunches from home in reusable containers and lunch sacks. Briefly note how and when you did this: <br/>
        <textarea></textarea><br/>
    <input type="checkbox" name="L1_D_2_2" value="Share_Table"/>Set up a share table where students can place or take unwanted school cafeteria foods that are unopened and untouched. (e.g., unopened milk cartons). <br/>
        <textarea></textarea><br/>
    <input type="checkbox" name="L1_D_2_3" value="Donate_Food"/>Donate leftover edible food to a food bank (at the end of a school year and other times as needed). Briefly note how and when you did this: <br/>
        <textarea></textarea><br/>
    <input type="checkbox" name="L1_D_2_4" value="Grass_Clippings"/>Leave grass clippings on the lawn/athletic fields (grass-cycling) or compost leaves and other yard waste on site. Briefly note how and when your school did this: <br/>
        <textarea></textarea><br/>
    <input type="checkbox" name="L1_D_2_5" value="Other_D_2"/>What other significant waste reduction practice did the school initiate to reduce organic/compostable waste? Other: <br/>
        <textarea></textarea><br/>
</li>
<li>Reuse durable products, use bulk dispensers (Complete at least 1 of the following actions)<br/>
    <input type="checkbox" name="L1_D_3_1" value="Durable_Trays"/>Replace disposable or compostable trays with durable trays. <br/>
        <textarea></textarea><br/>
    <input type="checkbox" name="L1_D_3_2" value="Eliminate_Trays"/>Eliminate use of cafeteria trays. <br/>
        <textarea></textarea><br/>
    <input type="checkbox" name="L1_D_3_3" value="Durable_Utensils"/>Replace disposable or compostable utensils with durable utensils. <br/>
        <textarea></textarea><br/>
    <input type="checkbox" name="L1_D_3_4" value="Unwrapped_Utensils"/>. Replace plastic-wrapped utensils, straws, and napkins with unwrapped utensils, straws, and napkins.<br/>
        <textarea></textarea><br/>
    <input type="checkbox" name="L1_D_3_5" value="Durable_Products"/>Replace disposable or compostable plates, bowls, glasses, and cups with durable products in one or both of the following areas. Check applicable area(s): <br/>
        <div>
            <ul>
                <li><input type="checkbox" name="L1_D_3_5_1" value="Student_Cafeteria"/>In the student cafeteria<br/>
                    <input type="checkbox" name="L1_D_3_5_2" value="Staff_Room"/>In the staff break-room<br/>
                </li>
            </ul>
        </div>
        <textarea></textarea><br/>
    <input type="checkbox" name="L1_D_3_6" value="Bulk_Dispensers"/>Use bulk dispensers in the student cafeteria. <br/>
        <textarea></textarea><br/>
    <input type="checkbox" name="L1_D_3_7" value="Restrooms"/>In restrooms, do one or both of the following.Check applicable area(s): <br/>
        <div>
            <ul>
                <li><input type="checkbox" name="L1_D_3_7_1" value="Soap_Dispenser"/>Switch to foam soap dispensers<br/>
                    <input type="checkbox" name="L1_D_3_7_2" value="Air_Dryers"/>Install air dryers instead of using paper towels.<br/>
                </li>
            </ul>
        </div>
        <textarea></textarea><br/>
    <input type="checkbox" name="L1_D_3_8" value="Durable_Supplies"/>Save and reuse durable supplies - Maintain a storage closet or bin for reusable party/holiday decorations, classroom displays, hall passes, and visitor badges, etc. Note what supplies are reused by your school: <br/>
        <textarea></textarea><br/>
    <input type="checkbox" name="L1_D_3_9" value="Other_D_3"/>What other significant practice did your school initiate to reuse durable products or eliminate unnecessary products? Other: <br/>
        <textarea></textarea><br/>
</li>