<!DOCTYPE html>
<html>
<title>KCGS Best Practices Guide</title>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/mainstyle.css">
    <script src="/static/js/lib/jquery-1.12.0.min.js"></script>
</head>
<body>
    <div id="div_header">
        <div id="header_logo"></div>
        <div id="header_welcome">
            <h2>Welcome {{userInfo.name}} !</h2>
        </div>
        <div id="header_progress">
            <ul class="horizontal progress_bar">
                <li class="progress progress_1">
                    Level 1
                </li>
                <li class="progress progress_2">
                    Level 2
                </li>
                <li class="progress progress_3">
                    Level 3
                </li>
                <li class="progress progress_4">
                    Level 4
                </li>
            </ul>
        </div>
    </div>
    <div id="div_content">
        <div id="content_main">
            <ul class="main_list">
                <li class="progress progress_1">
                    <h3 id="progress_h1" class="hdr_l1 hdr_l1_active ">Level 1: Waste Reduction and Recycling</h3>
                    <div class="div_sublist" id="sublist1">
                        <ul class="sublist_1">
                            <li>
                                <form id="form_1_1" class="form">
                                    <h3 id="progress_h1_h1" class="hdr_l1_l1">Contact Info</h3>
                                    <div class="div_sublist_1" id="sublist1_1">
                                        <ul class="sublist_1_1">
                                            {{> sublist_1_1}}
                                        </ul>
                                        <div class="save-form-button" id="save_pdform_sublist_1_1">Save</div>
                                        <div class="create-pdf-button" id="create_pdf_sublist_1_1">Create PDF</div>
                                    </div>
                                </form>
                            </li>
                            <li>
                                <h3 id="progress_h1_h2" class="hdr_l1_l1">A: Form Your Team</h3>
                                <div class="div_sublist_1" id="sublist1_2">
                                    <ul class="sublist_1_2">
                                        {{> sublist_1_2}}
                                    </ul>
                                    <div class="save-form-button" id="save_pdform_sublist_1_2">Save</div>
                                    <div class="create-pdf-button" id="create_pdf_sublist_1_2">Create PDF</div>
                                </div>
                            </li>
                            <li>
                                <h3 id="progress_h1_h3" class="hdr_l1_l1">B: Assess and Monitor</h3>
                                <div class="div_sublist_1" id="sublist1_3">
                                    <ul class="sublist_1_3">
                                        {{> sublist_1_3}}
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <h3 id="progress_h1_h4" class="hdr_l1_l1">C: Education and Outreach</h3>
                                <div class="div_sublist_1" id="sublist1_4">
                                    <ul class="sublist_1_4">
                                        {{> sublist_1_4}}
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <h3 id="progress_h1_h5" class="hdr_l1_l1">D: Waste Reduction</h3>
                                <div class="div_sublist_1" id="sublist1_5">
                                    <ol type="1" class="sublist_1_5">
                                        {{> sublist_1_5}}
                                    </ol>
                                </div>
                            </li>
                            <li>
                                <h3 id="progress_h1_h6" class="hdr_l1_l1">E: Recycling</h3>
                                <div class="div_sublist_1" id="sublist1_6">
                                    <ul class="sublist_1_6">
                                        {{> sublist_1_6}}
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <h3 id="progress_h1_h7" class="hdr_l1_l1">F: Hazardous Materials Management</h3>
                                <div class="div_sublist_1" id="sublist1_7">
                                    <ul class="sublist_1_7">
                                        {{> sublist_1_7}}
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="progress progress_2">
                    <h3 id="progress_h2" class="hdr_l1 hdr_l1_active">Level 2: Energy Conservation</h3>
                    <div class="div_sublist" id="sublist2">
                        <ul class="sublist_2">
                            <li>Contact Info</li>
                            <li>A: Mantain Level 1 Practices</li>
                            <li>B: Assess and Monitor</li>
                            <li>C: Education and Outreach</li>
                            <li>D: Lighting and Plug Loads</li>
                            <li>E: Heating and Cooling</li>
                            <li>Next Steps</li>
                        </ul>
                    </div>
                </li>
                <li class="progress progress_3">
                    <h3 id="progress_h3" class="hdr_l1">Level 3: Water Conservation and Pollution Prevention</h3>
                    <div class="div_sublist" id="sublist3">
                        <ul class="sublist_3">
                            <li>Contact Info</li>
                            <li>A: Maintain Level 1 and Level 2 Practices</li>
                            <li>B: Assess and Monitor</li>
                            <li>C: Education and Outreach</li>
                            <li>D: Indoor Water Conservation</li>
                            <li>E: Outdoor Water Conservation</li>
                            <li>F: Policies and Purchasing</li>
                            <li>Next Steps</li>
                        </ul>
                    </div>
                </li>
                <li class="progress progress_4">
                    <h3 id="progress_h4" class="hdr_l1">Level 4: Sustaining Green Schools</h3>
                    <div class="div_sublist" id="sublist4">
                        <ul class="sublist_4">
                            <li>Contact Info</li>
                            <li>A: Maintain Level 1, Level 2, and Level 3 Practices</li>
                            <li>B: Expand Your Green Schools Practices</li>
                            <li>C: Schedule a School Visit With Your KCGS Representative</li>
                            <li>F: Hazardous Materials Management</li>
                            <li>Next Steps</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div id="content_sidebar">
            <div id="sidebar_calendar">
                <iframe src="https://calendar.google.com/calendar/embed?height=300&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=jn8uhakaj6shuv7a1qo86jp66o%40group.calendar.google.com&amp;color=%231B887A&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="100%" height="300" frameborder="0" scrolling="no"></iframe>
            </div>
            <div id="sidebar_achievements"><h3>Achievements</h3></div>
        </div>
        <div id="content_submit" class="clear">
            <button class="button representative"><center><h3>Send to Representative</h3></center></button>
            <button class="button county"><center><h3>Send to King County</h3></center></button>
        </div>
    </div>
    <div id="div_footer"></div>
    <script type="text/javascript" src="/static/js/plugins/jspdf.debug.js"></script>
    <script type="text/javascript" src="/static/js/plugins/html2canvas.min.js"></script>
    <script src="/static/js/client.js"></script>
</body>
</html>