/***********Generic Tags***********/
body {
    background-color: white;
    padding: 10px;
    font-family: "Century Gothic";
}
ul {
    list-style-type: none;
}
h2 {
    color: green;
}
/***********Section Styles***********/
#div_header {
    background-color: white;
    padding: 20px;
}
#header_logo {
    background-color: green;
    height: 30px;
    width: 100%;
}
#header_progress {
    background-color: orange;
    padding: 5px;
}
.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFCC00;
}
.horizontal li {
    float: left;
    list-style: outside none none;
    padding: 1%;
    margin: 0.5%;
    width: 22%
}
.progress {
    background-color: #FF6666;
}
.progress_1, .progress_2 {
    background-color: #339900;
}
#content_main {
    float: left;
    background-color: white;
    padding: 1%
    width: 63%
}
#content_sidebar {
    float: right;
    background-color: orange;
    width: 33%;
    padding: 1%
}
.div_sublist {
    display: none;
}
