/**********************Generic Tags**********************/
body {
    background-color: white;
    padding: 10px;
    font-family: "Century Gothic";
}
ul {
    list-style-type: none;
}
h2 {
}
i {
    font-style: italic;
}
input {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
textarea {
    vertical-align: top;
}
/**********************Generic Styles**********************/
.clear {
    clear: both;
}
/**********************Generic Component Styles**********************/
.progress {
    background-color: #339900;
    color: #FFFFFF;
    text-align: center;
}
.create-pdf-button {
    background-color: #00b5ad;
    color: #fff;
    text-shadow: none;
    background-image: none;
    min-width: 90px;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    text-align: center;
}
.save-form-button {
    background-color: #00b5ad;
    color: #fff;
    text-shadow: none;
    background-image: none;
    min-width: 90px;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    text-align: center;
}
.logout_button {
    background-color: #00b5ad;
    color: #fff;
    text-shadow: none;
    background-image: none;
    min-width: 90px;
    padding: 10px;
    margin: 5px 0 5px 5px;
    display: inline-block;
    text-align: center;
}
/**********************Login and Register Page Styles**********************/
.login_content, .register_content {
    text-align: center;
}
.login_error, .register_error {
    display: none;
    color: red;
}
.login h1, .register h1 {
    margin-bottom: 5px;    
}
.login_input_container, .register_input_container {
    padding: 5px;
}
.login_submit_container, .register_submit_container {
    padding: 5px;
}
.login_submit_container input {
    background-color: #00b5ad;
    color: #fff;
    text-shadow: none;
    background-image: none;
    min-width: 90px;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    text-align: center;
    border: none;
    font-family: 'Century Gothic';
    font-size: 16px;
}
.register_submit_container input {
    background-color: #00b5ad;
    color: #fff;
    text-shadow: none;
    background-image: none;
    min-width: 90px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    font-family: 'Century Gothic';
    font-size: 16px;
    border: none;
}
/**********************Header Section Styles**********************/
#div_header {
    background-color: #ffffff; /*white*/
    padding: 10px;
}
#header_logo {
    background-color: #008000; /*green*/
    background: url("/static/images/logo.jpg") ;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 9%;
}
#header_welcome {
    padding: 5px;
    display: inline-block;
    float: left;
}
#header_welcome h2 {
    color: #008000; /*green*/
    font-size: 16px;
    padding: 10px;
}
#header_progress {
    /*background-color: #FFA500; /*orange*/
    /*padding: 5px;*/
    clear: both;
}
#header_progress .horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #FFCC00;*/
}
#header_progress .horizontal li {
    float: left;
    list-style: outside none none;
    padding: 1%;
    margin: 0.5%;
    width: 22%
}
#div_logout_container {
    display: inline-block;
    float: right;
}
/**********************Content Section Styles**********************/
#div_content {
    background-color: #ffffff; /*white*/
    padding: 10px;
}
#content_main {
    float: left;
    background-color: #ffffff; /*white*/
    /*padding: 1%;*/
    width: 100%; /*63%;*/
}
#content_sidebar {
    display: none; /*temporary*/
    float: right;
    /*background-color: #FFA500; orange*/
    width: 33%;
    padding: 1%;
}
.div_sublist {
    display: none;
    /*background-color: #00FF00; lime*/
    padding: 10px;
}
.sublist_1_li {
    border: 1px solid;
}
.div_sublist_1 {
    display: none;
    /*background-color: #FFC0CB; /*pink*/
    padding: 10px;
    border: solid 0.25px #008000;
    border-top: none;
}
.sublist_1_1_li input {
    margin-top: 10px;
    padding: 5px;
}
#content_submit {
    text-align: center;
}
.main_list li{
    padding: 10px;
}
.main_list li h3 {
    padding: 10px;
}
.hdr_l1 {
    border: solid 0.25px #808080;
}
.hdr_l1_l1 {
    border: solid 0.25px #808080;
}
.hdr_l1_active {
    background-color: #339900; /*green*/
}

/**********************Footer Section Styles**********************/
#div_footer {
    background-color: #ffffff; /*white*/
    padding: 10px;
}
